col-6{
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
}

.izquierda, .derecha {
    width: 48%; 
    padding: 20px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
 }

 .seccion {
    display: flex;
    justify-content: space-between;
}

.columna {
    width: 48%; 
    padding: 10px;
    background-color: lightgray;
 }
